/*
    Author: Sheldon Harrison
    Date: 12/09/2025
    File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, ul, section, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for images */
img {
    max-width: 100%;
    display: block;
}

/* Style rule for box sizing applies to all elements */
*{
    box-sizing: border-box;
}

/* Style rules for mobile viewport */

/*Hide tab-desk class */
.tab-desk, #menu-links {
    display: none;
}

/* Style rules for header content */
header {
    text-align: Center;
    font-size: 2.5em;
    color: #31916c;
}

header h1 {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-size: 1.5em;
    padding: 4%;
}

/* Style rules for navigation area */
nav {
    background-color: #bd816d;
}

.mobile-nav a {
    color: #ffff;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-icon div {
    height: 50px;
    width: 50px;
    background-color: #876053;
}


#console {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
}

/* Style rules for main content */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
main {
    padding: 2%;
    background-color: #c6b1aa;
    overflow: auto;
    font-family: "Audiowide", sans-serif;
}

main p {
    font-size: normal;
}

.action {
    font-size: 1.3em;
    color:#31916c;
    font-weight: bold;
}

#gamepass, #quick, #compatibility {
    width: 29%;
    float: left;
    margin: 0 2%;
}

#raytracing, #kgaming, #ultra {
    width: 29%;
    float: left;
    margin: 0 2%;
}

#info {
    clear: left;
    background-color: #b78d7e;
    padding: 1% 2%;
}

#info ul {
    margin-left: 10%;
}

#contact, #comparison h2 {
    text-align: center;
}

.tel-link {
    background-color: #2f8b68;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link {
    color: #ffff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

#contact .email-link {
    color: #33956f;
    text-decoration: none;
    font-weight: bold;
}

.map {
    border: 5px solid #2f8b68;
    width: 95%;
    height: 50%;
}

/* Style rule for footer content */
footer {
    text-align: center;
    font-size: 0.65em;
    clear: left;
}

footer a {
    color: #33956f;
    text-decoration: none;
}

aside {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #2f8b68;
    text-shadow: 3px 3px 10px #33956f;
}

figure {
    position: relative;
    max-width: 275px;
    margin: 2% auto;
    border: 8px solid #2f3a8b;
}

figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(55, 54, 132, 0.7);
    color: #ffff;
    width: 100%;
    padding: 5%;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

/* Style rules for table */
table {
    border: 1px solid #2f3a8b;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
}

th, td {
    border: 1px solid #2f3a8b;
    padding: 2%;
}

th {
    background-color: #2f3a8b;
    color: #000;
}

tr:nth-child(odd) {
    background-color: #6971ad;
}

/* Style rules for form elements */
fieldset, input {
    margin-bottom: 2%;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
}

label {
    display: block;
    padding-top: 3%;
}

form #submit {
    margin: 0 auto;
    display: block;
    padding: 3%;
    background-color: #876053;
    font-size: 1em;
}



/* Media Query for Tablet Viewport */
@media screen and (min-width: 550px), print {

    /* Tablet Viewport: Show tab-desk class, hide mobile class */
    .tab-desk {
        display: block;
    }
    
    .mobile, .mobile-nav {
        display: block;
    }

    /* Tablet Viewport: Style rule for header content */
    header h1 {
        margin: 0;
        padding: 0;
        font-size: 2em;
    }

    span.tab-desk {
        display: inline;
    }

    /* Tablet Viewport: Style rules for nav area */
    nav ul {
    list-style-type: none;
    text-align: center;
    }

    nav li {
        border-top: none;
        display: inline-block;
        border-right: 1-x solid #ffff;
        font-size: 2em;
    }

    nav li:last-child {
        border-right: none;
    }

    nav li a {
    display: block;
    color: #841c1c;
    text-align: center;
    text-decoration: none;
    }

    /* Tablet Viewport: Style rule for map */
    .map {
        width: 500px;
        height: 450px;
    }
    /* Tablet Viewport: Style rule for form element */
    form {
        width: 70%;
        margin: 0 auto;
    }
    /* Tablet Viewport: Style rules for footer area */

}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

aside {
    grid-column: 1 / span 2;
}


/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px), print {

    /* Desktop Viewport: Style rule for header */
    header {
        padding: 2%;
    }

    /* Desktop Viewport: Style rules for nav area */
    nav li a {
        padding: 0.5em 1.5em;
    }

    nav li a:hover {
        color: #841c1c;
        background-color: #bd816d;
        transform: scale(1.2);
    }

    /* Desktop Viewport: Style Rules for main content */
    #info ul {
        margin-left: 5%;
    }

    main h3 {
        font-size: 1.5em;
    }

    #gamepass, #quick, #compatibility {
        width: 29%;
        float: left;
        margin: 0 2%;
    } 

    #raytracing, #kgaming, #ultra{
        width: 29%;
        float: left;
        margin: 0 2%;
    }

    .grid {
        grid-template-columns: auto auto;
    }

    figcaption {
        font-size: 1.5em;
    }

    aside {
        grid-column: 1 / span 2;
    }
    
    /* Desktop Viewport: Style rules for form elements */
    .form-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }

    .btn {
        grid-column: 1 / span 2;
    }
}

/* Media Query for Print */
@media print {
    body {
        background-color: #ffff;
        color: #000;
    }
}